In [61]:
import pandas as pd
import csv
import mapreduce as mr
import geopandas as gpd
from shapely.geometry import Point

In [72]:
df = pd.read_csv('vehicle_paths_pnas.csv')

In [73]:
df.head(5)

    Timestamp  Vehicle_ID  Latitude  Longitude  Num_Passengers
0  1380949230         137  40.73467  -73.99459               0
1  1380949230         321  40.78573  -73.97644               0
2  1380949230         428  40.78154  -73.96041               0
3  1380949231         148  40.73478  -73.99871               0
4  1380949231         148  40.73478  -73.99871               0

In [74]:
df_speed = df.loc[df['Num_Passengers'] > 4]

In [75]:
df_speed = df_speed.drop(columns = 'Num_Passengers')

In [76]:
df_speed['Timestamp'] = round(df_speed['Timestamp'] % 86400 / 3600 % 23.5)

In [77]:
def mapper1(_, row):
    #Take out emails send to no enron person
    #Take out emails send to sender his/herself
    #Change the format
    
    yield ([row['Timestamp'], row['Vehicle_ID']], [row['Latitude'], row['Longitude']])

def reducer1(info, location):
    yield(info, location[0])
    
def mapper2(info, location):
    yield (info[0], info[1], location[0], location[1])
            
with open('vehicle_paths_pnas_v2.csv', 'r') as fi:
    reader = enumerate(csv.DictReader(fi))
    output = list(mr.run(mr.run(reader, mapper1, reducer1), mapper2))

In [128]:
df1 = pd.DataFrame(output, columns=['Hour', 'Vehicle_ID', 'Latitude', 'Longitude'])

In [129]:
df1['Latitude'] = df1['Latitude'].astype('float')
df1['Longitude'] = df1['Longitude'].astype('float')

In [130]:
df1 = df1.assign(Location=df1[['Longitude', 'Latitude']].values.tolist())

In [131]:
df1 = df1.drop(['Latitude', 'Longitude'], axis=1)

In [132]:
df1 = df1.drop(['Vehicle_ID'], axis=1)

In [133]:
df1

      Hour                                  Location
0      0.0            [-73.99996999999999, 40.73469]
1      0.0                     [-74.00738, 40.71058]
2      0.0                     [-73.98695, 40.72099]
3      0.0                      [-73.99169, 40.7352]
4      0.0             [-73.98579000000001, 40.7352]
5      0.0                     [-74.01151, 40.70297]
6      0.0                     [-74.01443, 40.71103]
7      0.0                     [-73.97236, 40.76229]
8      0.0           [-74.01324, 40.705870000000004]
9      0.0           [-74.00947, 40.710409999999996]
10     0.0                     [-73.99537, 40.72504]
11     0.0                     [-73.99315, 40.72787]
12     0.0                     [-73.98132, 40.72065]
13     0.0            [-74.00823000000001, 40.72198]
14     0.0                      [-73.9899, 40.73445]
15     0.0           [-73.96069, 40.765609999999995]
16     0.0           [-73.98368, 40.743959999999994]
17     0.0                     [-74.00259, 40.71992]
18     0.0           [-73.98852, 40.737120000000004]
19     0.0                     [-73.98042, 40.75991]
20     0.0                     [-74.00406, 40.71314]
21     0.0                     [-73.99505, 40.73403]
22     0.0                     [-73.99305, 40.72282]
23     0.0                     [-74.00745, 40.70605]
24     0.0                     [-73.99263, 40.75843]
25     0.0                     [-73.98815, 40.73196]
26     0.0                     [-74.00723, 40.71304]
27     0.0  [-74.01158000000001, 40.703520000000005]
28     0.0           [-73.99906, 40.720040000000004]
29     0.0           [-73.97269, 40.749159999999996]
...    ...                                       ...
11072  9.0            [-73.93406999999999, 40.83755]
11073  9.0            [-73.98621999999999, 40.73462]
11074  9.0                     [-74.00193, 40.72455]
11075  9.0                     [-73.95089, 40.82573]
11076  9.0                     [-73.94579, 40.79292]
11077  9.0                      [-73.9521, 40.79887]
11078  9.0                     [-73.97885, 40.72408]
11079  9.0           [-74.00729, 40.708709999999996]
11080  9.0           [-74.01221, 40.702709999999996]
11081  9.0                     [-73.94842, 40.81394]
11082  9.0           [-73.94969, 40.823609999999995]
11083  9.0                     [-73.97272, 40.79593]
11084  9.0           [-73.99291, 40.747859999999996]
11085  9.0                     [-73.98626, 40.72229]
11086  9.0                     [-74.00058, 40.72735]
11087  9.0  [-73.99136999999999, 40.739090000000004]
11088  9.0             [-73.96448000000001, 40.7731]
11089  9.0                     [-73.96306, 40.80937]
11090  9.0            [-73.97440999999999, 40.75076]
11091  9.0  [-73.94868000000001, 40.815690000000004]
11092  9.0                     [-73.95942, 40.77689]
11093  9.0           [-73.96764, 40.766090000000005]
11094  9.0             [-73.95366999999999, 40.7879]
11095  9.0           [-73.94735, 40.818529999999996]
11096  9.0                     [-73.99224, 40.72125]
11097  9.0           [-74.00498, 40.715759999999996]
11098  9.0                      [-73.95058, 40.8265]
11099  9.0                     [-73.98646, 40.75671]
11100  9.0  [-73.99004000000001, 40.721920000000004]
11101  9.0                     [-73.96846, 40.79906]

[11102 rows x 2 columns]

In [134]:
df1.to_csv('vehicle_paths_pnas_prepared.csv')

In [63]:
df1['Latitude'] = df1['Latitude'].astype('float')
df1['Longitude'] = df1['Longitude'].astype('float')

In [69]:
geometry = [Point(xy) for xy in zip(df.Longitude, df.Latitude)]
df = df.drop(['Longitude', 'Latitude'], axis=1)
crs = {'init': 'epsg:4326'}
gdf = gpd.GeoDataFrame(df, crs=crs, geometry=geometry)

In [71]:
gdf.to_file("e", driver='GeoJSON')